
<div class="container">
  <div class="row">
    <div class="middle">
      <h2>Lista de Insumos e Serviços Cadastrados</h2>
    </div>
        <div class="col-lg-12">
            <input type="search" class="form-control" id="input-search" placeholder="Pesquise Insumos ou Serviços..." >
        </div>
        <div class="searchable-container">
          <% @cidades.each do |cidade| %>
            <% cidade.distribuidoras.each do |dist| %>
              <% dist.insumos.each do |insu| %>
                <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
                  <br/><div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                       <%= image_tag insu.foto.url if insu.foto? %>
                    </div>
                      <h4><%= insu.tipo %></h4>
                      <h5>Cidade: <%= cidade.nome %></h5>
                      <h5>Distribuidora: <%= dist.nome %></h5>
                      <h5>Preço: R<%= number_to_currency(insu.preco) %></h5>
                      <h5>Descrição: <%= insu.descricao %></h5>
                      <%= link_to edit_cidade_distribuidora_insumo_path(cidade, dist, insu), class:'btn btn-link' do %>
                        <i class="glyphicon glyphicon-edit"> Editar</i>
                      <% end %>
                      <%= link_to cidade_distribuidora_insumo_path(cidade, dist, insu), method: :delete, data:{confirm: "Deseja remover esse Registro?"}, class:'btn btn-link' do %>
                        <i class="glyphicon glyphicon-remove-sign"> Remover</i>
                      <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
  </div>
</div>  