<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @insumo.tipo %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @insumo.preco %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @insumo.descricao %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @insumo.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @insumo.longitude %>
</p>

<p>
  <strong>Icone:</strong>
  <%= @insumo.icone %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @insumo.foto %>
</p>

