<%= form_for ([@cidade, @distribuidora]) do |f| %>

<%= render 'layouts/errors' , object: @distribuidora %>
	
<p class="form-group">
	<%= f.label :Nome %></br>
	<%= f.text_field :nome, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.label :Latitude %></br>
	<%= f.number_field :latitude, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.label :Longitude %></br>
	<%= f.number_field :longitude, class:"form-control" %>
</p>
<p class="form-group">
	<%= f.label :Descrição %></br>
	<%= f.text_area :descricao, class:"form-control" %>
</p>
<p>
	<%= f.submit class:'btn btn-primary' %>
	<%= link_to 'Cancelar', admin_path, class: 'btn btn-default' %>
</p>

<% end %>