<%= form_for @cidade do |f| %>

<%= render 'layouts/errors' , object: @cidade %>

div class="field">
	<%= f.label :Cidade %></br>
	<%= f.collection_select :nome, Cidade.order(:nome), :nome, :nome, prompt: "Selecione a Cidade", class:"form-control", style: "width:400px", autofocus: true %>
</div>


<p>
      <div class="actions">
            
                  <%= f.submit "Atualizar Registro", class:'btn btn-primary' %>
                  <%= link_to 'Cancelar', admin_path, class: 'btn btn-default' %>                  
      </div>	
</p>

<% end %>
</div>
</div>